<mat-card>
  <mat-card-header>
    <mat-card-title> CRUD Knowledge </mat-card-title>
    <mat-card-subtitle> {{ editMode? "Edit knowledge" : "Add new knoledge" }} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile>
        <form (submit)="onSubmit()" #knowledgeForm="ngForm">
          <mat-form-field>
            <input matInput placeholder="Title" name="title" required [(ngModel)]="knowledgeData.title">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="URL Image" name="urltoimage" required [(ngModel)]="knowledgeData.urlToImage">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Summary" name="summary" required [(ngModel)]="knowledgeData.summary">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Content" name="content" required [(ngModel)]="knowledgeData.content">
          </mat-form-field>
          <ng-container *ngIf="editMode; else elseTemplate">
            <button mat-button color="primary" class="mat-button-text"> Update </button>
            <button mat-button color="warn" class="mat-button-text" (click)="cancelEdit()"> Cancel </button>
          </ng-container>
          <ng-template #elseTemplate>
            <button mat-button color="warn" class="mat-button-text"> Add </button>
          </ng-template>
        </form>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label> Filter </mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="sexo">
          <mat-icon *ngIf="isFiltering" matSuffix>search</mat-icon>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> #Id </th>
        <td mat-cell *matCellDef="let element" > {{ element.id }} </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
      </ng-container>
      <ng-container matColumnDef="urlToImage">
        <th mat-header-cell *matHeaderCellDef> Url To Image </th>
        <td mat-cell *matCellDef="let element"> <img [src]="element.urlToImage" alt=""> </td>
      </ng-container>
      <ng-container matColumnDef="summary">
        <th mat-header-cell *matHeaderCellDef> Summary </th>
        <td mat-cell *matCellDef="let element"> {{ element.summary }} </td>
      </ng-container>
      <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef> Content </th>
        <td mat-cell *matCellDef="let element"> {{ element.content }} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <a href="javascript:void(0)" (click)="editItem(element)">
            <mat-icon>edit</mat-icon>
          </a>
          <a href="javascript:void(0)" (click)="navigateToEditKnowledge(element)">
            <mat-icon>info</mat-icon>
          </a>
          <a href="javascript:void(0)" (click)="deleteKnowledge(element.id)">
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="{'editable-row': knowledgeData.id == row.id}"></tr>
    </table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button class="mat-button-text" color="primary" (click)="navigateToAddKnowledge()"> Add </a>
    <a mat-button class="mat-button-text" color="primary" (click)="refresh()"> Refresh </a>
  </mat-card-actions>
</mat-card>
