<p>
  <mat-toolbar style="background-color: salmon; color: white">
    <button
      mat-icon-button
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo">
      <img  src="../../../assets/empanada.svg" alt=""><span>Wasteless Food</span>
    </div>
    <span class="flex-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      [routerLink]="'knowledge'"
    >
      <mat-icon>perm_media</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      [routerLink]="'admin/knowledge/new'"
    >
      <mat-icon>border_color</mat-icon>
    </button>
  </mat-toolbar>
</p>
